<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="container emp-profile">
    <form method="post">
        <div class="row">
            <div class="col-md-4">
                <div class="profile-img">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTUsgPogtDepDvxMMxyY4VdUk3yfGpZFHbT0II0CdpopokbPgc_wVRwpAj2z_DNzxi5xf4&usqp=CAU" alt=""/>
                </div>                       
            </div>
            <div class="col-md-8">
                <div class="profile-head">
                    <br>
                            <h5>
                                Pratheep Sai Rama
                            </h5>
                            <h6>
                                Savings Account
                            </h6>  
                </div>
            </div>         
        </div>
        <br>
                <div class="row">
                    <div class="col-md-8">
                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="home-tab" data-toggle="tab" routerLink="/home" role="tab" aria-controls="home" aria-selected="true">About <ion-icon name="information-circle-outline"></ion-icon></a> 
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" id="transcations-tab" data-toggle="tab" routerLink="/passbook" role="tab" aria-controls="home" aria-selected="true">Passbook <ion-icon name="book"></ion-icon></a> 
                            </li>
                        </ul>
                        <br>
                        <div class="tab-content profile-tab" id="myTabContent">
                            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="passbook-tab">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <p>21 jun 2021</p>
                                                <small>UPI-Rahul-rahul@okicici</small><tr>
                                                <small> Ref Num:678909876567</small>
                                            </div>
                                            <div class="col-md-6">
                                                <p>$200.00</p>
                                                <br>
                                                <small> balance:$20000.00</small>
                                            </div>
                                        </div>
                                        <hr>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <p>21 jun 2021</p>
                                                <small>UPI-Rahul-rahul@okicici</small><tr>
                                                <small> Ref Num:678909876567</small>
                                            </div>
                                            <div class="col-md-6">
                                                <p>$200.00</p>
                                                <br>
                                                <small> balance:$20000.00</small>
                                            </div>
                                        </div>
                                        <hr>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <p>21 jun 2021</p>
                                                <small>UPI-Rahul-rahul@okicici</small><tr>
                                                <small> Ref Num:678909876567</small>
                                            </div>
                                            <div class="col-md-6">
                                                <p>$200.00</p>
                                                <br>
                                                <small> balance:$20000.00</small>
                                            </div>
                                        </div>
                                        <hr>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <p>21 jun 2021</p>
                                                <small>UPI-Rahul-rahul@okicici</small><tr>
                                                <small> Ref Num:678909876567</small>
                                            </div>
                                            <div class="col-md-6">
                                                <p>$200.00</p>
                                                <br>
                                                <small> balance:$20000.00</small>
                                            </div>
                                        </div>
                                        <hr>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <p>21 jun 2021</p>
                                                <small>UPI-Rahul-rahul@okicici</small><tr>
                                                <small> Ref Num:678909876567</small>
                                            </div>
                                            <div class="col-md-6">
                                                <p>$200.00</p>
                                                <br>
                                                <small> balance:$20000.00</small>
                                            </div>
                                        </div>
                                        <hr>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <p>21 jun 2021</p>
                                                <small>UPI-Rahul-rahul@okicici</small><tr>
                                                <small> Ref Num:678909876567</small>
                                            </div>
                                            <div class="col-md-6">
                                                <p>$200.00</p>
                                                <br>
                                                <small> balance:$20000.00</small>
                                            </div>
                                        </div>
                                        <hr>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <p>21 jun 2021</p>
                                                <small>UPI-Rahul-rahul@okicici</small><tr>
                                                    
                                                <small> Ref Num:678909876567</small>
                                            </div>
                                            <div class="col-md-6">
                                                <p>$200.00</p>
                                                <br>
                                                <small> balance:$20000.00</small>
                                            </div>
                                        </div>
                                        <hr>
                            </div>  
                        </div>
                        <nav aria-label="...">
                            <ul class="pagination">
                              <li class="page-item disabled">
                                <span class="page-link">Previous</span>
                              </li>
                              <li class="page-item active">
                                <span class="page-link">
                                  1
                                  <span class="sr-only">(current)</span>
                                </span>
                              </li>
                              <li class="page-item"><a class="page-link" href="#">2</a></li>
                              <li class="page-item"><a class="page-link" href="#">3</a></li>
                              <li class="page-item">
                                <a class="page-link" href="#">Next</a>
                              </li>
                            </ul>
                          </nav>
                    </div>
            
                </div>
            </form>           
        </div>